* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
h2 {
  margin-bottom: 10px;
}

.heading {
  font-size: 35px;
}

.Ingredient_list {
  list-style: none;
  line-height: 1.5em;
}

/* Heading container */
.heading_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
/* Title Heading */
/* How do i get the heading to move to the right a little bit more, is width:300px really the answer? */
.grid_itemHead {
  margin-top: 15px;
  width: 300px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
/* Reference */
/* Is margin-top 100px really the answer? */
.grid_itemReference {
  margin-top: 110px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

}

/* Img */
.grid_itemImg {
  padding: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grid_itemImg img {
  width: 500px;
}
/* Ingredients */
.grid_itemIngredients {
  margin-top: 170px;
  grid-column: 2 / 3;
  grid-row: 1/ 2;
}

/* Meal Description */
.grid_itemDescrp {
  margin-top: 300px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

}